.partial
  %h2.count
  - @contact_matrix.each_with_index do |e, i|
    .preview
      .close X
      %p
        %b To:
        #{e[0]} #{e[1]} &lt;#{e[2]}&gt;
      %p
        %b Subject:
        #{@replaced_subject[i]}
      %br
      %p= @replaced_body[i].html_safe
